.background {
  height: 100%;
  background-color: black;
}

.textColor {
  color: white !important;
}

.textColorBlack {
  color: black !important;
}

.dropdown {
  color: white !important;
}

.staticLink {
  color: white !important;
  text-decoration: underline !important;
}

.content-area {
  min-height: 280px;
  background-color: black !important;
  color: white !important;
}

.content-area2 {
  min-height: 280px;
  background-color: black !important;
  color: white !important;
}

.lineStyle{
 line-height: 2rem;
}

.image{
  box-shadow: 12px 12px 2px 1px rgba(117, 117, 131, 0.2);
}

.imageOption{
  box-shadow: 12px 12px 2px 1px rgba(117, 117, 131, 0.2);
}

.cardSpecs{
  margin-left: 25%;
  justify-content: center;
  width: 50%;
}

.spotify{
  background-color: black !important;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}